*{padding-top: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;}
.nav-1{
    color: #fff;
    background-color: #00245c;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-right: 5px;
    padding-top: 9px;
    height: 30px;
    width: 100%;
    padding-right: 5px;}
#connect{
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    margin-top: 10px;}
.nav-2{
    height: 120px;
    width: 100%;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: flex-start;}
.image{
    height:100px;
    width: 100px;
    background-image: url('bvb-logo-1.webp');
    background-size: cover;}
.image1{
    height: 70px;
    width: 150px;
    padding-left: 10px;}
.image2{
    height: 100px;
    width: 1250px;
    display: flex;
    justify-content:right;
    margin-left: 15px;
    padding-top: 10px;}
.nav-3{
    height: 35px;
    width:100%;
    color:  #4393B0;
    background-color: #4393B0;
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;}
a{
    text-decoration: none;
    color: #F0F6F9;}
.pea{
    font-size: 18px;
    font-style: 10px;}
.help{
    height: 35px;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    display: flex;
    font-size: 30px;
    background-color: #0f2170;
    color: #F5D042;}
.data-animation {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 35px;}
.data-animation p {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    animation: sliceAnimation 10s linear infinite;
    font-size: 30px;
    color: #fff;
    padding-bottom: 15px;
    margin: 0;}
@keyframes sliceAnimation {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }}
.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;}
.slider img{
    width: 100%;
    display: none;}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;}
.prev{
    left: 0;}
.next{
    right: 0;}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}}
.welcome{
    height: 50px;
    width: 100%;
    background-color: #e2ecf7;
    color: #273f55;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;}
.to{
    height: 400px;
    width: 100%;
    background-color: #e2ecf7;
    display: flex;
    justify-content: center;
    align-items: center;}
.video2{
    height: 300px;
    width: 620px;
    display: flex;
    justify-content: center;
    align-items: center;}
.has{
    height: 250px;
    width: 100%;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #e2ecf7; }
.foot{
    height: 200px;
    width: 100%;
    background-color: #0b2543;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;}
.some{
    font-family: Arial;
    color: white}
.hii{
    padding-bottom: 10px;
    color: #f9640d;}
li{
    list-style-type: none;
    padding: 0;
    margin-left: -2.3em;}
.partner{
    height: 50px;
    width: 100%;
    background-color:#e2ecf7 ;
    color:#0b2543 ;
    text-align: center;
    padding-top: 5px;}
.our-1{
    background-color: #e2ecf7;
    text-align: center;
    padding-bottom: 15px;}
.our-2{
    color: #3d3c92;
    text-align: center;
    font-size: larger;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #e2ecf7;}
.our-3{
    color: black;
    font-size: 18px;
    padding-bottom: 5px;
    background-color: #e2ecf7;
    width: 100%;}
.head{
    display: flex;
    background-color: #e2ecf7;
    justify-content: space-evenly;
    flex-direction: column;
    width: 800px;}
.head-1{
    height: 100px;
    background-color: #e2ecf7;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 8px;
    padding-left: 170px;
    padding-right: -170px;
    padding-top: 8px;
    gap: -20px;}
.head-2{
    background-color: #e2ecf7;}
.chair{
    color: #3d3c92;
    padding-top: 10px;
    text-align: none;
    padding-bottom: 12px;
    font-size: larger;}
.chair-2{
    padding-bottom: 10px;}
.apply{
    font-size: larger;}
.nav-3 a:hover{
    color: yellow;}
.hour{
    width: 100%;
    padding-top: 8px;
    background-color: #e2ecf7;
    font-size: 45px;
    font-weight: 500;
    color: #3d3c92;
    text-align: center;}
.hour-1{
    background-color: #e2ecf7;
    width: 100%;
    text-align: center;
    font-size: larger;
    font-weight:bold;
    color: #F5D042;
    padding-top: 40px;}
.hour-2{
    background-color: #e2ecf7;
    width: 100%;
    color: black;
    display: block;
    justify-content: center;}
.hour-3{
    background-color: #e2ecf7;
    width: 100%;
    padding-top: 20px;
    padding-left: 5%;
    color: black;
    display: flex;
    justify-content: center;}
.teacher-c{
    color: #0096c7;
    font-size: large;
    font-weight: 100;
    padding-bottom: 10px;}
.Court-a{
    text-align: center;
    height: 30px;
    width: 100%;
    padding-left: 20px;
    background-color: #4b64d0;
    color: white;
    padding-top: 13px;}
.Court-b{
    text-align: center;
    height: 30px;
    width: 100%;
    padding-left: 20px;
    color: #8338ec;
    padding-top: 13px;
    font-size: 40px;
    padding-bottom: 20px;}
.Court{
    text-align: center;
    font-size: larger;}
.field1{
    background-color: #e2ecf7;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 40px;}
.field1 img:hover{
    zoom:105%;
    transition: all 0.2s ease; 
    border: 2px solid yellow;}
.whole{
    width: 100%;
    background-color: #e2ecf7;}
.life{
    color: #00245c;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 200;}
.res a{
    color: #0096c7;
}
.res{
 display: flex;
 justify-content: space-evenly;
 text-decoration: underline;
 padding-top: 30px;
 padding-bottom: 30px;
}